body {
    background-color: aliceblue;
}
h3 {
    color: black;
}
span {
    color: black;
	font-size: 30px;
}
#homePar {
	font-size: 32px;
}
#stars {
    text-align: center;
    font-size: 30px;
}
hr {
    border: 1px solid #ccc;
}
.fa {
    padding: 5px;
    margin-right: 50px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}
.fa:hover {
    opacity: 1;
}
.fa-facebook {
    background: #3B5998;
    color: white;
}
.fa-twitter {
    background: #55ACEE;
    color: white;
}
.fa-instagram {
    background: #3B5998;
    color: white;
}
.fa-skype {
    background: #55ACEE;
    color: white;
}
.navbar {
    background-color: beige
}

footer {
    color: black;
    margin-top: 5%;
    text-align: center;
}