<div class="container" ng-init="loadMyData()">

    <br>
    <br>
    <br>

    <div class="container-fluid">
        <div class="row">
            <div class="fb-profile">
                <img align="left" class="fb-image-lg" src="../images/ss.jpg" alt="Profile image example" style=" height: 300px;" />
                <img ng-src="/images/{{dataFromMap.personalImage.split('fakepath\\')[1]}}" class="fb-image-sm">

                <div class="fb-profile-text">
                    <h2><p><b>User Name</b>: {{dataFromMap.username}}</p></h2>
                    <h4><p><b>gender</b>: {{dataFromMap.age}}</p></h4>
                    <h4><p><b>age</b>: {{dataFromMap.gender}}</p></h4>
                    <h4><p><b>Major</b>: {{dataFromMap.favlang}}</p></h4>
                </div>
            </div>
        </div>
    </div>
    <!-- /container fluid-->
    <div class="container">
        <div class="col-sm-8">

            <div data-spy="scroll" class="tabbable-panel">
                <div class="tabbable-line">
                    <ul class="nav nav-tabs ">
                        <li class="active">
                            <a href="#tab_default_1" data-toggle="tab">
              Tell us About Science </a>
                        </li>
                        <!--
            <li>
              <a href="#tab_default_2" data-toggle="tab">
             Education Career</a>
            </li>
            <li>
              <a href="#tab_default_3" data-toggle="tab">
             Family Details</a>
            </li>
             <li>
              <a href="#tab_default_4" data-toggle="tab">
             Desire Partner</a>
            </li>
-->
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_default_1">

                            <div>






                                <div ng-init="loadData()">
                                    <br>
                                    <br>

                                    <div class="add-issue">
                                        <div class="row" ng-show="addIssueFields">
                                            <div class="col-md-8 col-md-offset-2">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <input placeholder="Title" class="form-control" type="text" ng-model="title">
                                                        <textarea rows="1" placeholder="Description" class="form-control" ng-model="desc"></textarea>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <button ng-click="addNewIssue()" class="btn btn-success">Post</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row" ng-show="addBtn">
                                            <div class="col-md-8 col-md-offset-2">
                                                <button ng-click="showIssueField()" class="btn btn-primary">Add New Post...</button>
                                            </div>
                                        </div>
                                    </div>



                                    <br>
                                    <br>

                                </div>










                            </div>
                            <!--
              <h4>About her Family</h4>
              <p>
                About her family she belongs to a religious and a well cultural family background. 
                Father - Retired from a Co-operate Bank as a Manager. 
                Mother - she is a home maker. 
                1 younger brother - works for Life Insurance n manages cluster. 
              </p>
              <h4>Education </h4>
              <p>I have done PG in Human Resourses</p>
              <h4>Occupation</h4>
              <p>At present Working in Insurance sector</p>
-->

                            <!--
            </div>
            <div class="tab-pane" id="tab_default_2">
              <p>
                Education& Career
              </p>
              <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                     <label for="email">Highest Education:</label>
                      <p> MBA/PGDM</p>
                 </div>
                  <div class="form-group">
                     <label for="email">Place of Birth:</label>
                      <p> pune, maharashtra</p>
                 </div>
                  <div class="form-group">
                     <label for="email">Place of Birth:</label>
                      <p> pune, maharashtra</p>
                 </div>
                  <div class="form-group">
                     <label for="email">Place of Birth:</label>
                      <p> pune, maharashtra</p>
                 </div>
              </div>
              <div class="col-sm-6">
                 <div class="form-group">
                     <label for="email">Place of Birth:</label>
                      <p> pune, maharashtra</p>
                 </div>
                  <div class="form-group">
                     <label for="email">Place of Birth:</label>
                      <p> pune, maharashtra</p>
                 </div>
                  <div class="form-group">
                     <label for="email">Place of Birth:</label>
                      <p> pune, maharashtra</p>
                 </div>
                  <div class="form-group">
                     <label for="email">Place of Birth:</label>
                      <p> pune, maharashtra</p>
                 </div>

               </div>
              </div>

             
           
            </div>
            <div class="tab-pane" id="tab_default_3">
              <p>
                Family Details
              </p>
              <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                     <label for="email">Highest Education:</label>
                      <p> MBA/PGDM</p>
                 </div>
                  <div class="form-group">
                     <label for="email">Place of Birth:</label>
                      <p> pune, maharashtra</p>
                 </div>
                  <div class="form-group">
                     <label for="email">Place of Birth:</label>
                      <p> pune, maharashtra</p>
                 </div>
                  <div class="form-group">
                     <label for="email">Place of Birth:</label>
                      <p> pune, maharashtra</p>
                 </div>
              </div>
              <div class="col-sm-6">
                 <div class="form-group">
                     <label for="email">Place of Birth:</label>
                      <p> pune, maharashtra</p>
                 </div>
                  <div class="form-group">
                     <label for="email">Place of Birth:</label>
                      <p> pune, maharashtra</p>
                 </div>
                  <div class="form-group">
                     <label for="email">Place of Birth:</label>
                      <p> pune, maharashtra</p>
                 </div>
                  <div class="form-group">
                     <label for="email">Place of Birth:</label>
                      <p> pune, maharashtra</p>
                 </div>

               </div>
              </div>
            </div>
             <div class="tab-pane" id="tab_default_4">
              <p>
               Lifestyle

              </p>
               <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                     <label for="email">Highest Education:</label>
                      <p> MBA/PGDM</p>
                 </div>
                  <div class="form-group">
                     <label for="email">Place of Birth:</label>
                      <p> pune, maharashtra</p>
                 </div>
                  <div class="form-group">
                     <label for="email">Place of Birth:</label>
                      <p> pune, maharashtra</p>
                 </div>
                  <div class="form-group">
                     <label for="email">Place of Birth:</label>
                      <p> pune, maharashtra</p>
                 </div>
              </div>
              <div class="col-sm-6">
                 <div class="form-group">
                     <label for="email">Place of Birth:</label>
                      <p> pune, maharashtra</p>
                 </div>
                  <div class="form-group">
                     <label for="email">Place of Birth:</label>
                      <p> pune, maharashtra</p>
                 </div>
                  <div class="form-group">
                     <label for="email">Place of Birth:</label>
                      <p> pune, maharashtra</p>
                 </div>
                  <div class="form-group">
                     <label for="email">Place of Birth:</label>
                      <p> pune, maharashtra</p>
                 </div>

               </div>
              </div>
            </div>
          </div>
        </div>
-->
                        </div>










                    </div>
                </div>
            </div>





        </div>
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="menu_title">
                    About The Scientist
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label>experince:</label>
                                <p>{{dataFromMap.experince}}</p>
                            </div>
                            <div class="form-group">
                                <label>skill:</label>
                                <p>{{dataFromMap.skill}}</p>
                            </div>
                            <div class="form-group">
                                <label>note:</label>
                                <p>{{dataFromMap.note}}</p>
                            </div>
                            <div class="form-group">
                                <label>email:</label>
                                <p>{{dataFromMap.email}}</p>
                            </div>
                            <div class="form-group">
                                <label>phone:</label>
                                <p>{{dataFromMap.phone}}</p>
                            </div>
                            <!--
                    <div class="form-group">
                      <label for="email">Rashi/ Moon sign:</label>
                      <p> Mesh</p>
                    </div>
                     <div class="form-group">
                      <label for="email">Nakshtra:</label>
                      <p> Bharani</p>
                    </div>
                      <div class="form-group">
                      <label for="email">Manglik:</label>
                      <p> Manglik</p>
-->
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>














