<br><br>   

<div class="container" id="signup">
    <div class="row text-center">
        <div class="col-md-12">
            <h1>Sign Up</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
<!--
              <div class="form-group">

                    <input type="text" class="form-control" id="username" placeholder="your Name" ng-model="userinput.name" required>
                </div>
-->
             <div class="form-group">
                           <label>User Name :</label>
                            <input class="form-control" autocomplete="off" ng-model="userinput.username" type="text" placeholder="Username">
                  		</div>

            
             <div class="form-group">
                           <label>Password :</label>
                            <input class="form-control" autocomplete="off" ng-model="userinput.password" type="password" placeholder="Password">
                  		</div>
            
                 <div class="form-group">
                           <label>Confirm Password :</label>
                            <input class="form-control" autocomplete="off" ng-model="userinput.passwordOther" type="password" placeholder="Confirm Password">
                  		</div>
                  		
                <label>Education Level :</label>
                <div class="form-group text-center"> 
                <div class="col-md-12" "form-group">
                   
<!--                    <input ng-model="userinput.privilage" type="text" placeholder="privilage">-->
                    
    <select ng-model="userinput.privilage" class="selectpicker btn-defualt btn-md col-md-12">
<!--      <option value="admin">admin</option>-->
      <option value="superUser">Prof</option>
       <option value="superUser">DOC</option>
        <option value="superUser">MS</option>
         <option value="superUser">BS</option>
      <option selected value="user">Student</option>
    </select>
              
                </div>
            </div>
<!--
                
                <div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Education Level
  <span class="caret"></span></button>
  <ul class="dropdown-menu">
    <li><a href="#">HTML</a></li>
    <li><a href="#">CSS</a></li>
    <li><a href="#">JavaScript</a></li>
  </ul>
</div>
-->
                
                <div ng-if="password != passwordOther">
                    <p>Passwords must match</p>
                </div>
                <br>           
            
            <div class="row text-center">
                <div class="col-md-12">
                    <button class="btn btn-default btn-md" ng-click="signup()">Sign Up</button>
                </div>
            </div>
            <br>
        </div>
    </div>
</div>
<br><br>
<br><br>
<br><br>
<center><img class="blink_text" src="../images/logo1.png"></center>
<br>
