.box {
	width: 60%;
}
.container {
	width: 60%;
}
body {
	background-color: dodgerblue;
}
.navbar {
	background: skyblue;
}
.empty {
	height: 50px;
}

.blue1 {
	background: blue;
	height: 150px;
	margin-bottom: 2px;
}
.orange1 {
	background: orange;
	height: 200px;
	margin-bottom: 2px;
}
.red1 {
	background: red;
	height: 160px;
	margin-bottom: 2px;
}

.green1 {
	background: green;
	height: 100px;
	margin-bottom: 2px;
    margin-top: -25px;
}
.darkblue {
	background: darkblue;
	height: 50px;
	margin-bottom: 2px;
    margin-top: 5px;
}
.white1 {
	background: white;
	height: 150px;
	margin-bottom: 2px;
    margin-top: -15px;
}

.white2 {
	background: white;
	height: 400px;
}
.red2 {
	background: red;
	height: 180px;
	margin-bottom: 2px;
}
.blue2 {
	background: blue;
	height: 180px;
	margin-bottom: 2px;
}
.green2 {
	background: green;
	height: 400px;
}
.orange2 {
	background: orange;
	height: 200px;
	margin-top: -200px;
}