<div ng-init="loadData()">
    <h1><u>TO DO LIST</u></h1>
    <br>
    <br>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div ng-repeat="item in todoItems track by $index">
                <div name="Show when its not being edited" ng-if="!item.isEdit">
                    <p>TITLE :&emsp;&emsp;{{item.title}}</p>
                    <p>DESCR :&emsp;&emsp;{{item.description}}</p>
                    <p>COST :&emsp;&emsp;{{item.cost | currency}}</p>
                    <p>STATUS :&emsp;&emsp;{{item.isDone}}</p>
                    <p ng-if="priv == 'admin'">Account :&emsp;&emsp;{{item.username}}</p>
                    <button type="button" class="btn btn-info btn-circle btn-xs">
                        <i class="glyphicon glyphicon-pencil" ng-click="toggleEdit(item)">
                        </i>
                    </button>
                    <button class="btn btn-danger btn-xs" ng-if="priv == 'admin'">
                        <i class="glyphicon glyphicon-remove" ng-click="delete(item._id)">
                        </i>
                    </button>

                </div>
                <div name="Show when it is being edited" ng-if="item.isEdit">
                    <input placeholder="Title" ng-model="item.title" type="text">
                    <input placeholder="Description" ng-model="item.description" type="text">
                    <input placeholder="Cost" ng-model="item.cost" type="number">
                    <input placeholder="Is Done" ng-model="item.isDone" type="boolean">
                    <button class="btn btn-success btn-circle btn-xs"> <i class="glyphicon glyphicon-ok" ng-click="saveData(item._id, item)">
                        </i>
                    </button>
                </div>

            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <input placeholder="Title" ng-model="userinput.title" type="text">
            <input placeholder="Description" ng-model="userinput.description" type="text">
            <input placeholder="Cost" ng-model="userinput.cost" type="number"><br><br>
            <button class="btn btn-primary btn-xs">
                <i class="glyphicon glyphicon-plus" ng-click="addData()">
                        </i>
            </button>

        </div>
    </div>
</div>