<div class="container" ng-controller="contactCtrl">
    <div class="row text-center">
        <div class="col-md-12">
            <h1>Contact</h1>
        </div>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h4>For Any information send Email:</h4>
            <form action="mailto:modjam@hotmail.com" method="post" enctype="text/plain">
                <input type="text" class="form-control" placeholder="Name">
                <br>
                <input type="text" class="form-control" placeholder="Email">
                <br>
                <textarea rows="4" class="form-control" placeholder="Message"></textarea>
                <br>
                <center>
                <button type="submit" value="Send" class="btn btn-primary btn-xs">Send</button>
                <button type="reset" value="Reset" class="btn btn-primary btn-xs">Reset</button></center>
            </form>
            <br>
            <hr>
            <br>
            <br>
            <center><h2>OR CALL: <strong>+9613624361</strong></h2></center>
            <br>
            <br>
            <hr>
            <br>
            <br>
            <center>
                <a href="https://www.facebook.com/mouhieldin.jammal/" class="fa fa-facebook"></a>
                <a href="https://www.twitter.com/modjam/" class="fa fa-twitter"></a>
                <a href="https://www.instagram.com/modjammal/" class="fa fa-instagram"></a>
                <a href="https://www.skype.com/modjam/" class="fa fa-skype"></a>
            </center>
            <br>
            <br>
            <hr>
        </div>
    </div>
</div>