<div class="container" ng-controller="contactCtrl">
    <div class="row text-center">
       <div class="col-md-12">
           <h1>contact</h1>
       </div>
   </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h4>For Any information send Email</h4>
            <form action="mailto:modjam@hotmail.com" method="post" enctype="text/plain">
            <input type="text" class="form-control" placeholder="Name">
            <br>
            <input type="text" class="form-control" placeholder="Email">
            <br>
            <textarea rows="4" class="form-control" placeholder="Message"></textarea>
            <br>
            <button type="submit" value="Send" class="btn btn-primary btn-xs">Send</button>
            <button type="reset" value="Reset" class="btn btn-primary btn-xs">Reset</button>
            </form>
        </div>
    </div>
</div>