<div class="container-fluid" ng-controller="homeCtrl">
    <br>
    <br>
    <div class="row text-center">
        <img src="../views/images/leb.png">
    </div>
    <br>
    <p id="stars">&#9734;&emsp;</p>
    <p id="stars">&#9734;&emsp;&#9734;&emsp;&#9734;&emsp;</p>
    <p id="stars">&#9734;&emsp;&#9734;&emsp;&#9734;&emsp;&#9734;&emsp;</p>
    <br>
    <div class="row text-center">
        <div id="homePar" class="col-md-6">
            <p>Salam I am Mouhieldin, BS in computer science from BAU, works more than 10 years in IT Technical support field,
                <br>recently learned web developing by Vschool academy, now I am working at Makassed Hospital as IT Officer.
                <br> This site is a sample of my knowledge in web develoving.
            </p>
        </div>
        <div class="col-md-6">
            <img src="../views/images/me.png">
        </div>
    </div>
    <br>
    <p id="stars">&#9734;&emsp;&#9734;&emsp;&#9734;&emsp;&#9734;&emsp;</p>
    <p id="stars">&#9734;&emsp;&#9734;&emsp;&#9734;&emsp;</p>
    <p id="stars">&#9734;&emsp;</p>
</div>