<div class="container-fluid" ng-controller="resumeCtrl">
    <div class="row">
        <div class="col-md-5 col-md-offset-1">
            <h1><u>About me:</u></h1>
            <p>My Name is Mouhieldin, Beirut Arab University graduated with <br>BS in computer science,
            <br>have experience for more than 10 years in IT Technical support Field, <br>works 6 years in Gulf area (Qatar), 5 years in Lebanon, <br>recently I've learned web developing by Vschool academy. <br>For now I am in Lebanon working at Makassed Hospital, for more details please check my CV & my work.
            </p>
        </div>
        <div class="col-md-6">
            <h1><u>Professional info: </u></h1>
            <ul>
                <li>Mouhieldin Jammal, DOB: 26/6/1978, Beirut-Lebanon. </li>
                <li>Graduated at 2002 from Beirut Arab University with BS of Computer Science, </li>
                <li>Finish my military serve in 2003.</li>
                <li>I make a training at ISASC company for two months in computers and network feilds at 2004.</li>
                <li>My first Job was at SZ.Group as technical support for one year.</li>
                <li>I get employed at Makassed Khaled bin Alwalid School in beirut as Lab technical support for five years.</li>
                <li>Works at Qatar Museum as Sr. Technical Support Engineer for five years and seven months. </li>
                <li>Now working as IT Officer at Makassed Hospital. </li>
                <li>I am seeking for new opportunity that would utilize my domain & gaining experience
                    <br>that improve my job position. </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5 col-md-offset-1">
            <h1><u>Work experience: </u></h1>
            <ul>
                <img src="../views/images/MGHlogo.png">
                <li>IT Officer at Makassed Hospital - Lebanon 10/10/2016 - still </li>
                <ul>
                    <li>Working as IT support for computers, printers, network ... </li>
                </ul>
                <br>
                <img src="../views/images/QMlogo.png">
                <li>Sr. Technical Support Engineer at Qatar Museum - Qatar 8/8/2010 - 10/3/2016</li>
                <ul>
                    <li>
                        I work as helpdesk for computers desktop-laptop-hardware -software -printers-
                        <br>scanners-network-phones-DVD-active boards-projectors-audio-video-TVs-
                        <br>screens-preparing the show for meeting, seminars, training & others.
                        <br>
                    </li>
                </ul>
                <br>
                <img src="../views/images/MAKlogo.png">
                <li>Computer Lab Technition Makassed Shcool in Beirut - Lebanon 1/4/2005 - 31/7/2010</li>
                <ul>
                    <li>
                        I work as lab Technition for computers hardware-software-printers-scanners-networks-
                        <br>TV-projectors. Also work as assistant teacher for IT teacher, & Data entry for SIS system
                        <br>(accounting, grades, health, stuff info, library, students info ...), teaching computer.</li>
                </ul>
                <br>
                <img src="../views/images/SZlogo.png">
                <li>Computer Technition & Network SZ.Group Beirut - Lebanon 2003-2004</li>
                <ul>
                    <li>
                        I work as computer Technition for hardware-software-printers-scanners-networks
                        <br>also work as Data entry for company information </li>
                </ul>
            </ul>
        </div>
        <div class="col-md-6">
            <h1><u>Education:</u></h1>
            <ul>
                <img src="../views/images/baulogo.png">
                <li>Beirut Arab University 1998 - 2002 </li>
                <ul>
                    <li>Bachelor in Computer Science </li>
                </ul>
                <br>
                <img src="../views/images/NewHorizonLogo.png">
                <li>New Horrizon - Microsoft 2002 -2003</li>
                <ul>
                    <li>MCP - MCSA - MCSE certificates</li>
                </ul>
                <br>
                <img src="../views/images/MTCLogo.jpg">
                <li>Mira Center 1998 - 1999</li>
                <ul>
                    <li>Certificate in computer Hardware</li>
                </ul>
                <br>
                <img src="../views/images/QMlogo.png">
                <li>Qatar Museum 2012 - 2014</li>
                <ul>
                    <li>Training for MAC IOS</li>
                    <li>Training for ITIL</li>
                </ul>
                <img src="../views/images/VSlogo.png">
                <li>V-School at Makassed 2017</li>
                <ul>
                    <li>Web Developing</li>
                    <ul>
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>Javascript</li>
                        <li>Bootstarp</li>
                        <li>Angular</li>
                        <li>Server</li>
                        <li>Mango DB</li>
                        <li>Security</li>
                    </ul>
                </ul>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5 col-md-offset-1">
            <h1><u>Skills:</u></h1>
            <ul>
                <li>win 98, 2000, XP, 2007, 2008</li>
                <li>office XP, 2003, 2007, 2010</li>
                <li>projectors, printers, scanners repaires</li>
                <li>software & hardware installation</li>
                <li>creating emails, apple accounts...</li>
                <li>beginner in HTML-CSS-Bootstrab-Angular...</li>
            </ul>
        </div>
        <div class="col-md-6">
            <h1><u>Interests: </u></h1>
            <ul>
                <li>Computers </li>
                <li>Internets </li>
                <li>Sports</li>
                <li>Travels</li>
            </ul>
        </div>
    </div>
</div>