<div class="container">
    

<!--

<div class="col-md-7">
    
       <div class="col-md-7">
            <div id="map" class="img-thumbnail bg-warning"></div>
        </div>
</div>
-->
    <div class="row content">
<br>
   
    
    <br>
      
<div class="col-md-5">



    <div class="panel panel-default">

      
<!--
        <div class="panel-heading">
            <h2 class="panel-title text-center"><p>Sign up<span class="glyphicon glyphicon-map-marker"></p></span><span class="badge ">All fields required</span></h2> 
        </div>
-->

        <div class="panel-body">

   
            <form name ="addForm" novalidate>

             
<!--
             
                    <div class="form-group">
                  <input type="email" class="form-control" id="exampleInputEmail1" placeholder="your Email">
                   </div>
                   
                   <div class="form-group">

                    <input type="text" class="form-control" id="username" placeholder="your Password" ng-model="formData.username" required>
                </div>
                     
                   <div class="form-group">

                    <input type="text" class="form-control" id="username" placeholder="Confirm your Password" ng-model="formData.username" required>
                </div>
-->
<!--
                   <div class="form-group">
              
               
                   
                    <input type="text" class="form-control" id="username" placeholder="your Username" ng-model="formData.username" required>
                </div>
-->
                 <div class="form-group">

                    <input type="number" class="form-control" id="age" placeholder="your age" ng-model="formData.age" required>
                </div>

                <div class="radio required">
                    <label>
                        <input type="radio" name="optionsRadios" id="radiomale" value="Male" ng-model="formData.gender">
                        Male
                    </label>
                     <label>
                        <input type="radio" name="optionsRadios" id="radiofemale" value="Female" ng-model="formData.gender">
                        Female
                    </label>
                </div>
                </form>
                <div class="radio" required>
                   
                </div>
            
                   <div>
<!--                    <label for="language">Skills</label>-->
                    <input type="text" class="form-control" id="language" placeholder="your major" ng-model="formData.favlang" required>
                </div>
                
<!--                    <label for="language">Skills</label>-->
              
                <div>
<!--                    <label for="language">Skills</label>-->
                    <input type="text" class="form-control" id="language" placeholder="your skill" ng-model="formData.skill" required>
                </div>
                <div>
<!--                    <label for="language">Skills</label>-->
                    <input type="text" class="form-control" id="language" placeholder="your Language" ng-model="formData.note" required>
                </div>
                <div>
<!--                    <label for="language">Skills</label>-->
                    <input type="email" class="form-control" id="language" placeholder="your email" ng-model="formData.email" required>
                </div>
                <div>
<!--                    <label for="language">Skills</label>-->
                    <input type="tel" class="form-control" id="language" placeholder="your phone" ng-model="formData.phone" required>
                </div>
              
      
                <div>
<!--
                <label class="img-rounded">Upload Your Documents</label>
                <div class="btn btn-primary" ngf-select ng-model="file" name="file" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="1gb">Upload Image</div>
File:
<div style="font:smaller">{{f.name}} {{f.link}} {{errFile.name}} {{errFile.$error}} {{errFile.$errorParam}}
    <span class="progress" ng-show="f.progress >= 0">
        <div style="width:{{f.progress}}%" ng-bind="f.progress + '%'"></div>
      </span>
</div>
{{errorMsg}}
<button ng-click="submit()" class="btn bg-primary"> Add Image to my Profile</button>
    
  </div>
-->
                    <div>Add your Photo <input type="file" class="form-control personInfo-input" placeholder="add your Photo" onchange="angular.element(this).scope().personalImage(this)"></div>

   
                <a type="submit" class="nav nav-pills pull-right btn bg-primary btn-block" ng-click="createUser()" ng-disabled="addForm.$invalid" href="#/profile">Submit</a>
      
         
        </div>
  
  
</div>
        </div>
        </div>
        <div class="col-md-7">
            
        <div>
                 <textarea rows="11" type="text" class="form-control" id="language" placeholder="your experince" ng-model="formData.experince" required></textarea>
                </div>
     <br>
            <div id="map" style="height:220px; width:700px;" class="img-thumbnail bg-warning"></div>
        </div>
    </div>
    
 

</div>