
<div class="container" ng-init="loadData()">
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="row">
        <section id="banner">
        </section>
    </div>
    <br>
  
    
    
    
     <div class="row">
        <div class="col-sm-12">
          <div class="panel panel-default text-left">
            <div class="panel-body">
              
      <div class="add-issue">
         
        <div class="row" ng-show="addIssueFields">
            <div class="col-md-8 col-md-offset-2">
                <div class="row">
                       <h1>Share us all News about science</h1>
                    <div class="col-md-12">
                        <input placeholder="Title" class="form-control" type="text" ng-model="title">
                        <br>
                        <textarea rows="3" placeholder="Description" class="form-control" ng-model="desc"></textarea>
                    </div>
                </div>
                <br>
                <button type="button" ng-click="addNewIssue()" class="btn label-success btn-lg">
                <span class="glyphicon"></span>Post...
              </button> 
                
             
            </div>
        </div>
        <div class="row" ng-show="addBtn">
            <div class="col-md-8 col-md-offset-2">
                <button ng-click="showIssueField()" class="btn btn-success">Share us all News about science</button>
            </div>
        </div>
          <br>
    </div>
                  
            </div>
          </div>
        </div>
         
         
     
    <div class="row">
        
            <div ng-repeat="itm in items | orderBy:sort :true " class="postStyle">
                
                
                <div class="row">
        <div class="col-sm-3">
          <div class="well">
           <p>{{itm.username}}</p>
    <div class="fb-profile">
        <p>{{itm.favlang}}</p>
             </div> 
          </div>
        </div>
        <div class="col-sm-9">
          
          <div class="well">
           <div class="row">
              <div class="col-md-3 col-md-offset-1">
                        <button class="btn btn-success btn-xs" ng-if="username ==itm.username">
                            <i class="glyphicon glyphicon-pencil" ng-click="showEdit($index)" ng-show="editBtn[$index]">
                        </i>
                            <i ng-click="editIssue($index, itm._id,itm.title,itm.description)" ng-show="okBtn[$index]">OK
                        </i>
                        </button>
<!--                        &emsp;-->
                        <button class="btn btn-danger btn-xs" ng-if="username ==itm.username">
                            <i ng-click="delIssue(itm._id)" >X
						</i>
                        </button>
                    </div>
                </div>
                  
                        <div class="title">
                           
                            <p ng-show="showTitle[$index]">{{itm.title}}</p>
                            <input type="text" ng-model="itm.title" ng-init="itm.title" ng-show="titleInput[$index]" class="form-control">
                        </div>
                    
                   
                    
                        <div class="discription">
                            
                            <p ng-show="showDesc[$index]">{{itm.description}}</p>
                            <textarea rows="1" ng-model="itm.description" ng-init="itm.description" ng-show="descInput[$index]" class="form-control">
                            </textarea>
                        </div>
                                 <div class="row">
                    <div class="col-md-3 col-md-offset-1">
                        <button class="btn btn-success btn-xs">
                            <i class="glyphicon glyphicon-thumbs-up" ng-click="upvote(itm._id, itm.upvote)">
                         <b>{{itm.upvote}}</b></i>
                        </button>
                       
                        <button class="btn btn-danger btn-xs">
                            <i class="glyphicon glyphicon-thumbs-down" ng-click="downvote(itm._id,itm.downvote)">
                        <b>{{itm.downvote}}</b></i>
                        </button>
                       <button class="btn btn-xs">
                        <i class="glyphicon glyphicon-eye-open"><b> {{itm.upvote + itm.downvote}}</b></i>
                        </button>
                    </div>
                       
                  
               
                </div> 
              <br>
               <div class="row">
                    <div class="col-md-8 col-md-offset-1">
                        <textarea rows="1" ng-model="newComment" class="form-control " placeholder="add a comment">
                        </textarea>
                    </div>
                </div>
              
                <div class="row">
                    <div class="col-md-2 col-md-offset-1">
                        <button ng-click="addComment(itm._id, newComment)" class="btn btn-info btn-sm text-uppercase">
                            Add Comment
                        </button>
                    </div>
                    <div class="col-md-2 col-md-offset-1">
                    <button ng-click="commentsBtn($index)" class="btn btn-warning btn-am text-uppercase"><mark class="btn-warning btn-sm"> {{itm.comments.length}} </mark><span class="glyphicon glyphicon-comment"></span>
                        Show/Hide Comments
                    </button>
                        </div>
                    <br>
                    <div class="col-md-11 col-md-offset-1">
                        <div ng-show="showComments[$index]">
                            <div ng-repeat="comment in itm.comments track by $index">
                                <br>
                                <span class="btn btn-warning  text-uppercase">{{comment}}</span>
                                <button class="btn btn-danger btn-xs" ng-click="delComment(itm._id, $index)"  ng-if="username ==itm.username"> X
                                </button>
                            </div>
                        </div>
                      
                    </div>
                </div>
                    </div>
            
             
          </div>
        
        </div>
      </div>
                    
            </div>
        
    </div>