<br><br>   

<div class="container" id="signin">
    <div class="row text-center">
        <div class="col-md-12">
            <h1>Sign In</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            
            <div class="form-group">
                           <label>Your Full Name :</label>
                            <input class="form-control" autocomplete="off" id="Name" ng-model="userinput.username" type="text" placeholder="Username">
                  		</div>
            
             <div class="form-group">
                           <label>Your Password :</label>
                            <input class="form-control" autocomplete="off" id="Name" ng-model="userinput.password" type="password" placeholder="Password">
                  		</div>
                  		<br>
            <div class="row text-center">
                    <div class="col-md-12">
                  <button class="btn btn-default btn-md" ng-click="signin()">Sign In</button>
                  </div>
                  </div>
            <br>

        </div>
    </div>
</div>
<br><br>

<center><img class="blink_text" src="../images/logo1.png"></center>

<br>
