<div ng-controller="homeCtrl" ng-init="loadDate()">
	<br>
	<br>
	<marquee behavior="alternate">
		<h1>{{ message }}</h1></marquee>
	<div class="row">
		<div class="col-md-4">
			<img src="/home/index.png" class="img-circle img-responsive"></center>
		</div>
		<div class="col-md-4">
			<img src="/home/index.png" class="img-responsive"></center>
		</div>
		<div class="col-md-4">
			<img src="/home/index.png" class="img-circle img-responsive"></center>
		</div>
	</div>
	<br>
	<br>
	<div class="container">
		<div id="x" class="row">
			<div class="col-md-12">
				<h1>Convert Money from $ to any Currency</h1>
			</div>
		</div>
		<div id="x" class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="row">
					<div class="col-md-6">
						<h3>Choose Currency</h3>
						<select ng-model="selectedCurr" ng-options="x for (x,y) in list.rates" class="form-control">
						</select>
						<br>
						<input type="number" ng-model="newCurr" ng-init="newCurr" placeholder="Amounts" min="0" class="form-control">
						<br>
						<button ng-click="convert(selectedCurr)" class="btn btn-info btn-sm">Convert</button>
					</div>
					<div class="col-md-6">
						<h3>Result</h3>
						<input class="form-control" value="USD" disabled>
						<br>
						<input type="number" ng-model="yourCurr" placeholder="Converted Amount" class="form-control" disabled>
						<br>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>