<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	<title>A List</title>
	<style>
		body {
			background: skyblue;
		}
	</style>
</head>

<body ng-app="app" ng-controller="control" ng-init="loadData()">
	<div class="container">
		<br>
		<div class="row">
			<div class="col-md-4 col-md-offset-5">
				<h1>List by Angular</h1>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-4 col-md-offset-5">
				<h2>Data from list:</h2>
				<div ng-repeat="item in items">
					<p>Title: {{item.title}}</p>
					<p>Description: {{item.description}}</p>
					<button ng-click="delData(item._id)" class="btn btn-danger" btn-xs>Delete</button>
					<button ng-click="editTodo(item._id,task)" class="btn btn-primary btn-xs">edit</button>
				</div>
			</div>
		</div>
		<br><br>
		<div class="row">
			<div class="col-md-4 col-md-offset-5">
				<input type="text" ng-model="task" placeholder="enter title">
				<input type="text" ng-model="task1" placeholder="enter description">
				<button ng-click="postData()" class="btn btn-info btn-xs">Post</button>
			</div>
		</div>
		<br><br>
		<div class="row">
			<div class="col-md-4 col-md-offset-5">
				<input type="text" ng-model="tasks" placeholder="enter new title then edit">
			</div>
		</div>
	</div>
	<script src="https://code.angularjs.org/1.6.1/angular.min.js"></script>
	<script src="app.js"></script>
</body>

</html>